<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="display: flex;height: 100vh">
    <%- include('../../partials/sidebar')%>
    <div class="detail-box">
        <div style="text-align: center"><h2 >Product detail</h2></div>
        <form id="my-form" method="" >
            <div class="form-group">
                <label>Id:</label>
                <input type="text" class="form-control"
                       name="id"
                       value="<%= product.id %>"
                       hidden>
                <input type="text" class="form-control"
                       value="<%= product.id %>"
                       disabled>
            </div>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control"
                       name="name"
                       value="<%= product.name %>">
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input type="text" class="form-control"
                       name="price"
                       value="<%= product.price %>">
            </div>
            <div class="form-group">
                <label>Quantity:</label>
                <input type="text" class="form-control"
                       name="quantity"
                       value="<%= product.quantity %>">
            </div>
            <label>Image:</label>
            <% if (images) {
                images.forEach(function(image){ %>
            <img class="detail-image"
                 <% if (image.primary) {%>
                    style="border:3px solid #555;"
                 <%}%>
                 src="<%=image
                         .url%>">
            <input type="radio"  value="<%=image.id%>"
            <% if (image.primary) {%>
                   checked
                    <%}%>
                   name="thumbnailId" >
            <%})}%>
            <div id = "list-category" class="form-group">
                <label>Category:</label>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" rows="4" cols="50"
                          name="description"><%= product.description%></textarea>
            </div>

            <button id="<%=product.id%>" type="submit" class="btn btn-primary
            edit-product
            ">Save</button>
        </form>
    </div>
</div>

<script src="../../../script/product/detail.js"></script>
<script>
    $(function () {
        $.get('/category/list', function (data) {
            let productCategories = <%-JSON.stringify(product.categories)%>
            productCategories = productCategories.map((category)=>category.id)
            console.log(productCategories);
            data.resources.forEach((category) => {
                let sringHtml = `</br><input type="checkbox"
                    name="categoryId[]"  ${productCategories.includes
                (category.id) && 'checked'}
                     value="${category.id}">${category.name}</input>`;
                $('#list-category').append(sringHtml);
            });
        });
    });
</script>
</body>
</html>
