<!DOCTYPE html>
<html lang="en">
<head>
    <title>Category index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div style="display: flex">
    <%- include('../../partials/sidebar')%>
    <div class="table-box">
        <h2 style="text-align: center;justify-content: center">Category
            list</h2>
        <!--    <a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/>-->
        <table class="table table-dark table-striped ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Number of products</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <% categories.forEach(function(category){ %>
                <tr>
                    <td><%= category.id %></td>
                    <td><a href="javascript:void(0)"
                           onclick="getDetail(<%= category.id %>)"><%= category
                                    .name
                            %></a></td>
                    <td><%= category.description %></td>
                    <td><%= category.numberOfProducts %></td>

                    <td>
                        <div>
                            <button id="<%= category.id %>"
                                    class="btn btn-sm btn-success block-user"
                            >Edit
                            </button>

                            <button class="btn btn-sm btn-danger"
                                    data-toggle="modal"
                                    data-target="#modal-edit-user-<%= category.id %>"
                            >
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <div class="modal fade" id="modal-edit-user-<%= category.id %>"
                     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal
                                    title</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Do you want to delete this category with Id
                                <%= category.id %> ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">No
                                </button>
                                <button id="<%= category.id %>" type="button" class="btn
                            btn-primary
                            delete-user
                            ">Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<script src="../../../script/category/index.js"></script>
</body>
</html>
